.sidebar {
    width: 260px;
    position: relative;
    display: flex;
    flex-direction: column;
    &[data-expanded="false"] {
        width: 60px;
    }
    .arrow {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 25px;
        transform: translate(50%,-50%);
    }
    .header {
        height: 50px;
    }
    .main {
        display: flex;
        height: calc(100vh - 100px);
        .filters {
            width: 60px;
        }
        .list {
            display: flex;
            flex-direction: column;
            width: calc(260px - 60px);
            .contacts {
                overflow-y: overlay;
                height: -webkit-fill-available;
            }
            .pagination {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}